/* BUTTON CRAZINESS BELOW */

/* centered because of RTL text, elseways this could get pretty crazy */
.fa1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
	background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
	background-color:#a53df6;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #9c33ed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7d15cd;
}

.fa1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
	background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
	background-color:#7c16cb;
}.fa1:active {
	position:relative;
	top:1px;
}


/* SIGNATURE CRAZINESS BELOW */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label { 
/* needs better styling */
  -webkit-appearance: menulist;
  -moz-appearance: menulist; 
  display: inline;
  width: 85px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

div#winsig pre {
    background: #EDE5E2;

}

/* hidden/default */
div#winsig, div#linuxsig, div#macsig {
   background: #EDE5E2; /* light grey */
   width: 450px;
   height: 250px;
   color: #1a1a1a; /*off-black*/
   text-align: left;
   display:none;
}

/* onclick/shown */
input[type=checkbox]:checked ~ div#winsig {
   display:block;
}

input[type=checkbox]:checked ~ div#linuxsig {
   display:block;
}

input[type=checkbox]:checked ~ div#macsig {
   display:block;
}
