html {
    overflow-y: auto;
}

body {
	background: #fff url('img/background2.jpg') top left fixed;
    min-height:400px;
    margin: 0;
    padding: none;
    color: #B49ABB; /* lavendar */
    text-shadow: 1px 1px 1px #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em; 
}

#can {
    margin: 0;
    position:fixed; top:0;left:0;
    background-image: url('img/background2.jpg') top left fixed;
    z-index: -1;
}

a, a:link { 
	color: #0C8794; /* blue */
	font-weight: normal; 
    text-decoration: none; 
    border-bottom:1px solid #B49ABB; /* lavendar */
    text-shadow: 1px 1px 1px #000;
}

a img {
    border: 0px;
}

a:visited {
/*    color: #8E1A57; /* orchid */
    border-bottom: 0px;
}

a.button { color: #fff; }
a.button:visited { color: #fff;}

p { margin: 5px 0 5px 0; }

h1, h2 {	
    color: #0C8794; /* #0E929D blue */ 
    font-weight: normal;
    text-shadow: 1px 1px 1px #042330;
}

h1 { font-size: 34px; padding: 5px 0 0 0; }

h2 { font-size: 28px; padding: 10px 0 0 0; }


/* verification section */


/* hash */
#dropzone {
    display:none;
}

#select {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px 12px 12px 12px;
    padding: 10px;
    width: 110px;
    text-align: center;
}

#hashlist {
    margin-bottom: 15px;
}

button#hash {
    display:none;
}

progress {
    display:none;
}

td.name { /* this is the file name display */
    font-size: 12px; 
    max-width: 150px;
    color: #ED4B8F; /* pink */
    border-bottom: 1px solid;
}

td.hash { /* sha */
    font-size: 13px;
    color: #95B1DC; /*faded light blue */
    border-bottom: 1px solid;
}

#menu {
    width: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px 24px 24px 24px;
    border: 0px;
    margin: 0 auto;
    padding: 1px 20px 20px 20px;
    font-size: 20px;
    z-index: 5;
}

.item { padding: 10px; height: 50px; line-height: 50px;}
.item p { line-height: 48px;}
.item a { border-bottom: 0px; }

#credits {
    width: 700px;
    font-size: 13px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 24px 24px 24px 24px;
    border: 0px;
    color: #000;
    text-shadow: none;
    margin: 0 auto;
    padding: 12px;
    margin-top: 12px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

#credits a {
    color: #552377;
    border-bottom: 1px solid #386178;
    text-shadow: none;
}

/* BUTTON CRAZINESS BELOW */

/* centered because of RTL text, elseways this could get pretty crazy */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
	background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
	background-color:#a53df6;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #9c33ed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
    padding-right: 7px;
    padding-left: 7px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7d15cd;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
	background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
	background-color:#7c16cb;
}.button:active {
	position:relative;
	top:1px;
}


/* SIGNATURE CRAZINESS BELOW */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label { /* verification selector */
/* needs better styling */
    font-size: 14px;
    color: #95B1DC; /*faded light blue */
    -webkit-appearance: menulist;
    -moz-appearance: menulist; 
    display: inline;
    width: 85px;
    margin: 10px 0 10px 0;
    cursor: pointer #ffffff;
}

label:after {
    content: &#x25BC;

}

div#winsig pre {
    background: #EDE5E2; /* light grey */

}

/* hidden/default */
div#winsig, div#linuxsig, div#macsig {
    background: #EDE5E2; /* light grey */
    color: #ffffff; /*off-black*/
    text-align: center;
    display:none;
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
    text-shadow: none;
}

/* onclick/shown */
input[type=checkbox]:checked ~ div#winsig {
   display:block;
}

input[type=checkbox]:checked ~ div#linuxsig {
   display:block;
}

input[type=checkbox]:checked ~ div#macsig {
   display:block;
}
